body{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    background:#222;
    color:white;
    font-family:Arial;
}

.container{
    text-align:center;
}

.board{
    display:grid;
    grid-template-columns:repeat(3,100px);
    grid-template-rows:repeat(3,100px);
    gap:5px;
    margin:20px auto;
}

.cell{
    background:#333;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:40px;
    cursor:pointer;
}

.cell:hover{
    background:#444;
}

button{
    padding:8px 15px;
    margin:5px;
    cursor:pointer;
}
